/* 头部导航组件 */

.header {
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    /* padding-block: 0.5rem; */
    /* 2022/04/01修改上面的，换成下面的padding-top:1rem; */
    padding-top: 1rem;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    width: min(65ch, 90vw);
    /* 上面这个是高级的布局 */
    margin-inline: auto;
}


/* 导航按钮组件 2022/03/28 */

.header,
.header nav {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    /* grid-gap: 2rem; */
    /* gap: 2rem; */
}

.header nav a {
    color: #3e485a;
    text-decoration: none;
    line-height: 35px;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
}

.header nav a {
    display: block;
    font-size: 12px;
    background-color: transparent;
    margin-left: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 20px 0 #b1c3d48a
}


/* 顶部nav点击打开状态 */

.check {
    background-color: #8197bb!important;
    box-shadow: 0 1px 20px 0 #88cbff8a!important;
}

.header nav a:hover,
.header nav a:focus {
    color: #16191e;
    /* text-decoration: underline; */
    background-color: #cfe3eb;
}