:root {
    /* 默认字体的颜色 */
    --Body-font-color: #4d4d4d;
    /* 详细介绍字体的颜色 */
    --BoxItemDesc-font-color: rgb(89, 89, 89);
    /* 网站logo字体颜色 */
    --BoxItemLogo-font-color: #3273dc;
    /* box大盒子背景颜色 */
    --BoxBackImg: linear-gradient(45deg, #d9afd928 0%, #97dae13a 100%);
    /* box里网址小盒子背景颜色 */
    --BoxItemBackground-color: linear-gradient(135deg, #8bc5ec3d 0%, #9599e225 100%);
    /* 网页背景颜色 */
    --BodyBackground-color: #ffffff00;
    /* box大盒子投影 */
    --Box-shadow: 0 1px 20px 0 rgb(211 234 255 / 50%);
    /* box大盒子hover投影 */
    --Box_hover-shadow: inset 9px 7px 20px 9px rgb(211 234 255 / 21%);
    /* 返回顶部背景颜色 */
    --gototop-back-color: #fff;
    /* 返回顶部箭头颜色 */
    --gototop-svg-color: rgb(199, 196, 196);
    /* 小尬聊天顶部背景颜色 */
    --ctrm-title-bgcolor: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
    /* 小尬聊天顶部字体色 */
    --ctrm-title-color: #444;
    /* 小尬聊天左边背景颜色 */
    --ctrm-panel-bgcolor: rgba(252, 252, 252, 0.85);
}