    a,
    aside,
    body,
    div,
    footer,
    html,
    i,
    img,
    li,
    nav,
    p,
    section,
    ul {
        /* padding: 1px; */
        /* 去掉就可以居中显示最上方的三个按钮 */
        margin: 0px;
    }
    
    li {
        list-style: none
    }
    
    i {
        font-style: normal
    }
    /* 图片文字水平居中 */
    
    img,
    svg {
        vertical-align: middle;
    }
    
    a {
        text-decoration: none;
        cursor: url(https://cdn.custom-cursor.com/db/4655/32/arrow2662.png), default;
        /* https://xiaolongmr.github.io/test/cur/a1.png */
    }
    
    body {
        font-size: 12px;
        color: var(--Body-font-color);
        font-family: Helvetica Neue, Microsoft Yahei;
        overflow-x: hidden !important;
        /* 去除横向滚动条 添加日期2022/04/04 */
        cursor: url(https://cdn.custom-cursor.com/db/4656/32/arrow2662.png), default;
        /* https://xiaolongmr.github.io/test/cur/body.png */
        /* 增加高度100vh */
        height: 100vh;
        background-color: var(--BodyBackground-color);
    }
    /* .container,
    .main {
        2021年11月6号将背景颜色改为透明色，为下面动态背景做铺垫
        2022年1月20号修改增加夜间模式,因此将此配置去掉,在bootstrap1.css添加组合颜色
        background: #4b8fc70a
    }
     */
    
    .nav .iconfont {
        color: #6b7386;
        /* 左侧目录默认icon颜色 */
        padding-right: 4px
    }
    
    .container .left-bar {
        position: fixed;
        padding: 0 20px;
        background: var(--left-bar-bgcolor);
        color: #6b7386;
        box-sizing: border-box;
        flex-direction: column;
        height: 100vh;
        display: flex;
        width: 248px;
        transition: all .5s
    }
    
    .container .main {
        position: relative;
        display: flex;
        flex-direction: column;
        -webkit-box-orient: vertical;
        margin-left: 248px
    }
    
    .container .main .iconfont {
        font-size: 18px;
        padding-right: 5px;
        text-shadow: -15px -10px 30px;
        /* 带色彩的图标距离右边字体的距离 */
        /* color: #000 */
        /* 去掉字体图标的原作者的颜色 */
    }
    
    .set-scroll {
        background-color: #494f5e;
        border-radius: 0;
        width: 4px
    }
    
    .left-bar .title {
        color: #fff;
        font-size: 18px;
        height: 50px;
        line-height: 50px
    }
    
    .left-bar .title a {
        color: rgb(255, 255, 255);
    }
    
    .left-bar .nav {
        flex: 1;
        -webkit-box-flex: 1;
        flex-grow: 1
    }
    
    .left-bar .nav .item {
        height: 48px;
        line-height: 46px;
        border-top: 2px solid rgba(255, 255, 255, .04);
        border-bottom: 2px solid rgba(255, 255, 255, .04)
    }
    
    .left-bar .nav>.active {
        position: relative
    }
    
    .left-bar .nav>.active .line {
        position: absolute;
        right: 0;
        height: 30px;
        width: 3px;
        background: #fa7094;
        z-index: 100000;
        margin-top: 10px
    }
    
    .left-bar .nav-item {
        min-height: 100vh;
        overflow-y: scroll;
        padding-left: 0px;
    }
    
    .left-bar .nav-item::-webkit-scrollbar-track {
        background-color: #494f5e;
        border-radius: 0;
        width: 4px
    }
    
    .left-bar .nav-item::-webkit-scrollbar-thumb {
        background-color: #494f5e;
        border-radius: 0;
        width: 4px
    }
    
    .left-bar .nav-item::-webkit-scrollbar {
        background-color: #494f5e;
        border-radius: 0;
        width: 4px
    }
    
    .left-bar .nav-item li {
        padding-left: 20px;
        height: 32px;
        line-height: 32px
    }
    
    .left-bar .nav-item li:hover a,
    .left-bar .nav-item li:hover i,
    .left-bar .nav-item li>.active,
    .left-bar .nav-item li>.active i {
        color: hotpink;
        text-shadow: -2px 3px 11px;
    }
    
    .left-bar .nav-item li a {
        text-decoration: none;
        font-size: 12px;
        display: inline-block;
        width: 100%;
        color: var(--left-bar-font-color);
    }
    /* 本站网址的颜色 */
    
    .nav .item a {
        color: #bee8ff;
    }
    /* 这是本站网址的强制一行显示 */
    
    .nav .item {
        overflow: hidden;
        /* 超出部分隐藏 */
        text-overflow: ellipsis;
        /* 超出部分显示... */
        white-space: nowrap;
        /* 文本强制一行显示     */
    }
    /* 同一目录标签的详情解释字体略小 */
    
    .box .sub-category span {
        font-size: 13px;
        text-align: 12px;
    }
    
    .nav .comment {
        position: fixed;
        z-index: 100;
        bottom: 1px;
        width: 200px;
        /* background: #30333c */
    }
    
    .main #mainContent {
        max-width: 1200px
    }
    
    .main .box {
        overflow: hidden;
        margin: 20px;
        margin-top: 10px;
        /* 将每一个大盒子的背景颜色调低透明度 但是保留阴影依然会显示出大盒子*/
        padding-bottom: 20px;
        border-radius: 7px;
        box-shadow: var(--Box-shadow);
        /* 添加背景 2022/04/05 */
        background-image: var(--BoxBackImg);
        backdrop-filter: blur(0.05rem);
        -webkit-backdrop-filter: blur(0.1rem);
        /*  */
    }
    
    .box:hover {
        box-shadow: var(--Box_hover-shadow);
        backdrop-filter: blur(.2rem);
    }
    
    .main .box .sub-category>div {
        padding: 12px 0 0 2.1%;
        font-size: 18px;
        line-height: initial;
    }
    
    .main .box .item {
        width: 20%;
        border: 1px solid #dadada79;
        box-shadow: 1px 2px 9px 0px #878d8d15;
        border-radius: 6px;
        background: var(--BoxItemBackground-color);
        /* 下面的手机使用会卡 */
        /* background: hsla(0, 0%, 100%, .25) border-box;
    backdrop-filter: blur(.1rem); */
        /* background-image: linear-gradient(135deg, #8bc5ec3d 0%, #9599e225 100%); */
        padding: 10px;
        min-width: 200px;
        margin: 22px 0 0 2.1%;
        float: left;
        overflow: hidden;
        transition: all .3s
    }
    
    .main .box .item:hover {
        transform: translateY(-5px);
        box-shadow: 1px 2px 10px #9fc4d6
    }
    /* .main .box .item .no-logo {
    color: #3273dc;
    font-weight: 700;
    font-size: 14px
} */
    
    .main .box .item .logo {
        height: 40px;
        position: relative;
        font-size: 14px;
        font-weight: 700;
        line-height: 40px;
        color: var(--BoxItemLogo-font-color);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 .1rem
    }
    
    .main .box .item .logo img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        vertical-align: middle
    }
    
    .logo img:hover::after {
        left: 0;
        width: 100%;
        transition: width .3s
    }
    
    .logo img::after {
        content: "";
        position: absolute;
        left: 100%;
        bottom: -2px;
        width: 0;
        border-bottom: 1px solid #3a8fb7;
        transition: width .3s, left .3s
    }
    
    .main .box .item .desc {
        /* 详细介绍的样式 */
        color: var(--BoxItemDesc-font-color);
        font-size: 12px;
        padding-top: 7px;
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
    
    .footer {
        width: 100%;
        bottom: 0;
        line-height: 45px;
        background: #fff;
        box-shadow: 1px 2px 3px #f2f6f8
    }
    
    .footer .copyright {
        margin-left: 30px;
        color: #949494;
        font-size: 12px
    }
    
    .footer .copyright a {
        font-weight: 700;
        text-decoration: none;
        color: #dd8787d3
    }
    
    .footer .copyright a:hover {
        font-weight: 700;
        color: #87dadd
    }
    
    #menu-box {
        display: none;
        width: 100%;
        background: #fff;
        text-align: right;
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 1px 1px 8px #7ec1f9;
        height: 50px
    }
    
    #menu-box #menu {
        height: 50px;
        width: 40px;
        position: absolute;
        right: 10px
    }
    
    #menu-box #menu * {
        transition: all .3s;
        -webkit-transition: all .3s;
        box-sizing: border-box
    }
    
    #menu-box #menu input[type=checkbox] {
        display: none
    }
    
    #menu-box #menu input[type=checkbox]:checked~.menu-spin>.horizontal {
        opacity: 0
    }
    
    #menu-box #menu input[type=checkbox]:checked~.menu-spin>.line-1 {
        transform: rotate(405deg);
        -webkit-transform: rotate(405deg);
        margin-top: 10px
    }
    
    #menu-box #menu input[type=checkbox]:checked~.menu-spin>.line-2 {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
        margin-top: -10px
    }
    
    #menu-box #menu label {
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 10px;
        left: 0
    }
    
    #menu-box #menu label .line {
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: #a2a2a2
    }
    
    #menu-box #menu label .horizontal {
        top: 10px
    }
    
    #menu-box #menu label .line-2 {
        top: 20px
    }
    
    .download a,
    .download i {
        color: #3668bd!important
    }
    /* 返回顶部 */
    
    #gototop {
        /* padding: 15px; */
        /* width: 50px; */
        /* padding-left: 10px; */
        /* padding-right: 10px; */
        padding: 10px;
        /* padding-top: 10px; */
        /* height: 50px; */
        text-align: center;
        /* line-height: 50px; */
        background: var(--gototop-back-color);
        position: fixed;
        right: 10px;
        bottom: 60px;
        z-index: 9999;
        box-shadow: rgb(204 230 255) -1px 1px 10px 0px;
        cursor: pointer;
        display: none;
        border-radius: 6px;
    }
    
    #gototop svg {
        width: 24px;
        height: 24px;
        color: var(--gototop-svg-color);
        transition: all 0.5s;
    }
    
    #gototop:hover svg {
        color: rgb(248, 126, 126);
        width: 30px;
        height: 30px;
    }
    
    a .logo:visited {
        color: #000;
    }
    
    @media screen and (max-width:481px) {
        .container .box .item {
            width: 47%;
            min-width: 100px
        }
        .container .main {
            margin-left: 0
        }
        .container .left-bar {
            z-index: 999;
            left: -249px
        }
        #menu-box {
            display: block
        }
    }
    
    @media screen and (min-width:481px) {
        .container .left-bar {
            left: 0
        }
    }
    
    @media screen and (min-width:482px) and (max-width:789px) {
        .container .box .item {
            position: relative;
            width: 90%
        }
        .container .left-bar {
            left: 0
        }
    }
    
    @media screen and (min-width:790px) and (max-width:1039px) {
        .container .box .item {
            width: 43%;
        }
    }
    
    @media screen and (min-width:1040px) and (max-width:1920px) {
        .container .box .item {
            width: 20%
        }
    }
    
    .container .box .item .mask {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(48, 51, 60, .589);
        color: #73ff00;
        text-align: center;
        line-height: 12px;
        margin: 3em 0
    }
    
    .container .box .item:active .mask {
        display: block
    }
    /* .container .box .item:hover .mask {
    display: block
} */
    
    iframe {
        position: fixed;
        margin-bottom: 100px;
        border-style: none
    }
    
    .cursor {
        border-right-color: #457ec9
    }
    
    button {
        user-select: none;
        margin-bottom: 5px
    }
    
    body::-webkit-scrollbar {
        width: 9px
    }
    
    body::-webkit-scrollbar-track {
        background: #eee;
        border-radius: 2px
    }
    /* 滚动条 */
    /* 备注时间：2022/1/2 */
    
    body::-webkit-scrollbar-thumb {
        background-color: #39b0ff;
        /* 网页整体滚动条正常显示的颜色 */
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
        border-radius: 5px;
    }
    
    body::-webkit-scrollbar-thumb:hover {
        background: #27a009;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
        /* 网页整体滚动条按下时的颜色 */
    }
    
    body::-webkit-scrollbar-corner {
        background: #eeeeee;
        /* 横竖滚动条相接触颜色 */
    }
    /* ======✨✨【小尬聊天室】✨✨ 修改日期：2022/07/18 ======*/
    
    #ctrm_ .ctrm-textarea textarea {
        /* 聊天室下面的gif动画 */
        background: #ffffff url(https://gitee.com/xhcy1116/smile/raw/master/loading/loading1.webp) no-repeat !important;
        background-position: top right !important;
        /* 好像下面的没并不能铺满盒子 */
        background-size: 60%!important;
    }
    
    #ctrm_ .ctrm-title {
        background-color: #FFDEE9;
        background-image: var(--ctrm-title-bgcolor)!important;
        color: var(--ctrm-title-color)!important;
    }
    /* 刷新 */
    
    #ctrm_ .ctrm-title-reconn {
        /* line-height: 2vw!important; */
        border: 1px solid #999;
        background: #f4f4f4;
    }
    /* #ctrm_.ctrm-mobile .ctrm-online-wrap:nth-child(1) .ctrm-online-item {
        在线列表人员昵称字体大小
        font-size: 1px;
    } */
    
    #ctrm_ .ctrm-panel {
        background: var(--BoxBackImg)!important;
    }
    
    .ctrm-online-wrap div:nth-child(1) {
        /* 修改日期：2022/07/14 修改小尬的字体颜色   */
        color: hotpink;
    }
    
    .ctrm-online-wrap div:nth-child(2n) {
        /* 选择2的倍数的在线列表 */
        /* font-size: 100px!important; */
        color: #144a74;
    }
    /* 2022/04/04 */
    
    #ctrm_ .ctrm-container {
        position: relative;
        width: 35vw;
        height: 40vw;
        max-height: 85vh;
        border: 1px solid #e7e7e7;
        font-size: 0;
        border-top-left-radius: 2vw;
        overflow: hidden;
        transition: all 0.3s;
        background-color: #f8ffffcc;
        background: rgba(255, 255, 255, 0.962) border-box;
        backdrop-filter: blur(.2rem);
    }
    /* 修改日期：2022/03/25  添加伪元素为小尬添加后缀  */
    
    .ctrm-online-wrap div:nth-child(1):after {
        content: " (机器人)";
    }
    
    * {
        box-sizing: border-box;
        /* border: 0.5px solid rgba(255, 0, 0, 0.363); */
    }
    
    #ctrm_.ctrm-close.ctrm-mobile .ctrm-container {
        /* 小尬聊天室手机端收起时的宽度 */
        width: 76vw!important;
    }
    /* ======🎊🎊【小尬聊天室end】🎊🎊  ======*/
    /*  ======✨✨【说说配置】✨✨====== */
    
    .shuoshuo {
        /* height: 75px; */
        /* overflow: revert; */
        overflow-y: auto;
        margin: 20px;
        background: rgba(255, 255, 255, 0.342);
        padding-bottom: 20px;
        border-radius: 7px;
        box-shadow: 0 1px 20px 0 rgb(211 234 255);
        /* background-color: #34aeff;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent); */
        border-radius: 5px;
        z-index: -1;
    }
    
    #artitalk_main .power {
        text-align: right;
        margin-top: -30px;
        /* margin-right: 10px; */
        padding-right: 10px;
        /* 三个按钮距离右侧的距离 */
        font-size: 0px;
        height: 30px;
        /* 动力来自artitalk字体设置0px，则去除字体 */
        /* padding: 0px 0; */
    }
    
    #artitalk_main .power div {
        margin-right: 7px;
        /* 三个按钮各自相距的距离 */
    }
    
    #artitalk_main #shuoshuo_content {
        padding: 20px 10px 0px 10px;
        min-height: 500px;
        /* 最小的说说高度，正好可以将footer压下去 */
    }
    
    #artitalk_main .power a {
        font-size: 0 !important;
        position: relative;
        cursor: pointer;
        color: #1abc9c;
        text-decoration: none;
        display: inline-block;
    }
    
    #operare_artitalk .at_button,
    #artitalk_main .at_button {
        margin: 20px 10px;
    }
    
    #operare_artitalk .shuoshuo_input_log {
        margin-top: 30px;
    }
    
    .shuoshuo_text {
        background-color: #ffffff!important;
    }
    /* 🍀网站客服部分2022年7月7号*/
    
    .crisp-client .cc-52lo .cc-kegp .cc-1apq .cc-1jpm .cc-ggw8 .cc-1tgm .cc-1emi {
        line-height: 100px!important;
        background: #f5000000!important;
    }
    
    .cc-1jpm {
        background-color: #1abc9c3f!important;
    }
    
    .crisp-client .cc-52lo .cc-kegp .cc-1apq .cc-1jpm .cc-ggw8 .cc-30ip {
        background-color: #1abc9c3f!important;
    }
    
    .crisp-client .cc-52lo .cc-kegp .cc-1apq .cc-1jpm .cc-ggw8 .cc-1tgm {
        /* background: #f5000034!important; */
        background: linear-gradient(120deg, #e0c3fcc7 0%, #8ec5fca3 100%)!important;
        border-width: 1px 0 0!important;
        border-style: solid!important;
        height: 35px!important;
        position: absolute!important;
        left: 0!important;
        right: 0!important;
        bottom: 0!important;
        z-index: 8!important;
    }
    /* 对话按钮距离右边的距离 */
    
    .cc-unoo .cc-1c9v .cc-1bue .cc-hy0f,
    .crisp-client .cc-kv6t .cc-1xry .cc-unoo .cc-1c9v .cc-1bue .cc-hy0f:after,
    .crisp-client .cc-kv6t .cc-1xry .cc-unoo[data-is-failure=false],
    .crisp-client .cc-kv6t .cc-1xry .cc-unoo[data-is-failure=false] * {
        cursor: pointer !important;
        margin-right: -2px !important;
        /* 如果太靠右，访客收到消息提示就会特别靠右，超出边界 -2px正好 */
        /* margin-bottom: 10px !important; */
    }
    
    .crisp-client .cc-52lo .cc-kegp .cc-1apq {
        overflow: hidden !important;
        /* 客服弹窗距离底部的距离 */
        bottom: 10px !important;
        /* 打开聊天框后的圆角 */
        border-radius: 10px !important;
    }
    /* 必应搜索 2022年3月28日 */
    
    .by-search {
        margin: 0 auto;
        border-radius: 7px;
        padding: 0 10px;
        width: 90%;
        /* background: hsla(0, 0%, 100%, .25) border-box;
    backdrop-filter: blur(.5rem); */
    }
    
    input {
        border-radius: 12px;
        margin: 0 auto;
        padding: 0 12px;
        height: 34px;
        border: 1px solid rgba(255, 255, 255, .8);
        color: rgb(95, 95, 95);
        /* 搜索栏打字颜色 */
    }
    
    .search-l {
        /* float: left; */
        width: 50%;
        /* background: rgba(95, 95, 95, 0.15); */
        /* padding: 2px; */
        /* display: flex; */
        align-items: center;
        justify-content: space-between;
        position: relative;
        background: rgba(163, 163, 163, 0.308) border-box;
        backdrop-filter: blur(.2rem);
    }
    
    .search-r {
        /* float: right; */
        background-color: #39b0ff;
    }
    /* 😆Tips 2022/04/04 */
    
    .fa-bullhorn:before {
        text-shadow: 4px 5px 30px;
    }
    /* 😆Tips end  */
    /* ========== ✨✨【 鼠标触发动作 】✨✨  添加日期：2022/04/04  =========*/
    /* ==修改时间：
     修改内容：
   ==

    */
    /* ======【🔰==✔==有logo的触发动画】====== */
    
    .main .box a .item .logo:after {
        /* 默认右箭头 */
        content: '\00bb';
        font-size: 20px;
        position: absolute;
        opacity: 0;
        top: 0;
        right: -10px;
        top: -0.9em;
        transition: 0.5s;
    }
    /* 自定义logo动画 */
    
    .main .box a .item .logo_font12:after {
        /* 有logo相同样式组合在一起，精简代码 */
        font-size: 12px;
        color: rgb(180, 180, 180);
        position: absolute;
        opacity: 0;
        top: 0;
        right: -10px;
        top: -0.8em;
        transition: 0.5s;
    }
    
    .main .box a .item .eboy:after {
        /* 像素画 */
        content: "好看 \00bb";
        color: rgb(60, 161, 255);
    }
    
    .main .box a .item .ezgif:after {
        /* qq动态头像制作 */
        content: "英文 \00bb";
        color: rgb(60, 161, 255);
    }
    
    .main .box a .item .xztj:after {
        /* 站长推荐 */
        content: "小张推荐🤣 \00bb";
        color: rgb(144, 60, 255);
    }
    
    .main .box a .item .xbtj:after {
        /* 小白推荐 */
        content: "小白推荐😎 \00bb";
        color: rgb(60, 161, 255);
    }
    
    .main .box a .item .djtj:after {
        /* 禹哥推荐 */
        content: "禹哥推荐😜 \00bb";
        color: rgb(202, 106, 28);
    }
    
    .main .box a .item .zzzmh:after {
        /* 极简插件_Chrome扩展插件商店 */
        content: "无套路下载 \00bb";
        color: rgb(60, 161, 255);
    }
    
    .main .box a .item .sqsl:after {
        content: "申请收录的 \00bb";
        color: rgb(193, 60, 255);
    }
    
    .main .box a :hover .logo:after {
        opacity: 1;
        right: 1em;
        top: -0.95em;
    }
    /* ======【🔰==✖==无logo的触发动画】====== */
    
    .main .box a .item .nologo_font:after {
        /* 无logo相同样式组合在一起，精简代码 */
        content: "ヾ(≧▽≦*)o ";
        font-size: 12px;
        color: rgb(180, 180, 180);
        position: absolute;
        opacity: 0;
        top: 0;
        right: -10px;
        top: 0.5em;
        transition: 0.5s;
    }
    
    .main .box a .item .tj:after {
        content: "\00bb";
        color: rgb(60, 161, 255);
    }
    
    .main .box a .item .yiqing:after {
        /* 疫情加油！ */
        content: "疫情一定要好起来！";
        color: rgb(218, 137, 255);
    }
    
    .main .box a .item .zhsl:after {
        /* 召唤神龙 */
        content: "无聊的时候可以玩一下！";
        color: rgba(36, 194, 102, 0.836);
    }
    
    .main .box a .item .zyhsq:after {
        /* 资源汇社区 */
        content: "推荐一定要关注的公众号！";
        color: hotpink;
    }
    
    .main .box a .item .githubnb:after {
        /* qq微信可打开 */
        content: "微信和qq不会拦截的另一个域名";
        color: skyblue;
    }
    
    .main .box a .item .freehostcc:after {
        /* 申请收录的 */
        content: "申请收录的(新手友好）";
        color: rgb(60, 161, 255);
    }
    
    .main .box a .item .zijiren:after {
        /* 自己人 */
        content: "自己人";
        color: rgb(180, 180, 180);
    }
    /* 💦可以自定义，只需要更改class属性 2022/04/04 */
    
    .main .box a :hover .nologo_font:after {
        opacity: 1;
        right: 0.4em;
        top: 0.6em;
    }
    /* 2022/04/16 视传人 */
    
    @keyframes move {
        0% {
            background-position: 0 0;
        }
        100% {
            /*宽度固定，如果为百分比背景不会滚动*/
            background-position: -300px 0;
        }
    }
    
    .scr {
        /*设置背景渐变色*/
        background-image: -webkit-linear-gradient(left, #007eef, #dc5cb6 25%, #007eef 50%, #dc5cb6 75%, #007eef);
        /*chrome私有样式，加前缀，文字显示背景图片*/
        -webkit-background-clip: text;
        animation: move 10s infinite;
        /*文字颜色设为透明*/
        color: transparent;
        /*宽度固定*/
        width: 10px;
        /* 自号加粗 */
        font-weight: 700;
        /* 字体投影 */
        text-shadow: 1px 1px 1px rgba(128, 105, 255, 0.349);
    }
    /* 搜索🔍logo扫光 */
    
    .search-box i {
        position: relative;
        font-size: 2em;
        font-weight: 700;
        line-height: 39px;
        overflow: hidden;
        margin: 0;
        border-radius: 50%;
    }
    
    .search-box i:before {
        content: "";
        position: absolute;
        width: 150px;
        /* 光的宽度 */
        height: 7px;
        background-color: rgba(255, 255, 255, 0.568);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: searchLights 1s ease-in 1s infinite;
        animation: searchLights 2s ease-in 1s infinite;
    }
    
    @keyframes searchLights {
        0% {
            left: -90px;
            top: 0;
        }
        to {
            left: 90px;
            top: 0;
        }
    }
    /* ========== ✨✨【 右键菜单 】✨✨  添加日期：2022/06/26  =========
     ==修改时间：
     修改内容： 
     */
    
    #cyy_menu {
        /* color: rgb(255, 255, 255); */
        display: none;
        position: fixed;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 150px;
        box-sizing: border-box;
        border: 4px solid rgba(255, 255, 255, 0.774);
        border-radius: 8px;
        z-index: 1100;
        /* background: url(https://p6-pc-sign.douyinpic.com/tos-cn-p-0015/d16a27328a454234b54d53427c810c35~tplv-dy-cropcenter:323:430.jpeg?x-expires=1973325600&x-signature=zN03mrUsXpNAqU8JRlZjuizJrc0%3D&from=4257465056&s=PackSourceEnum_PUBLISH&se=true&sh=323_430&sc=cover&biz_tag=pcweb_cover&l=021657966908531fdbddc0100fff0030a1124a4000000022af765); */
        background-size: cover;
        background-image: linear-gradient(to top, #a8ede9a9 0%, #fed6e3b4 100%);
        backdrop-filter: blur(.1rem);
        box-shadow: 2px 7px 15px #a7a8bd;
    }
    
    #cyy_menu>li {
        border-radius: 6px;
        padding: 0px 10px 0 5px;
        line-height: 30px;
    }
    
    #cyy_menu>li:hover {
        /* background-color: #ccccd6; */
        background-color: #f3d4e4d2;
        /* color: #F7F6F2; */
        color: #fffbea;
        cursor: pointer;
    }
    
    #cyy_menu>.hr_break {
        padding: 0;
        height: 1.5px;
        background-color: #ffffffd0;
        /* background-color: #3d9cb4d0; */
    }
    
    .heartgit {
        /* 跳动的❤ */
        width: 14px;
    }